@import url('@100mslive/roomkit-react/index.css');

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: env(safe-area-inset);
}

#root {
  overscroll-behavior-y: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

.tl-container {
  border-radius: 0.75rem;
}
