{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "env": { "browser": true, "node": true },
  "overrides": [
    {
      // enable the rule specifically for TypeScript files
      "files": ["*.ts", "*.js"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": [0],
        "@typescript-eslint/ban-ts-comment": 0,
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/no-empty-function": 1,
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/no-non-null-asserted-optional-chain": 0,
        "complexity": ["warn", 6], // if a function is getting too complex it should be broken down
        "curly": ["error", "all"], // use curly brace even for single line functions
        "comma-dangle": ["error", "always-multiline"], // easier to see git diff
        "prefer-template": ["error"], // easier to read code when variables are used,
        "prettier/prettier": "error",
        "no-case-declarations": "warn",
        "no-empty": ["error", { "allowEmptyCatch": true }]
      }
    }
  ],
  "ignorePatterns": ["dist/**"]
}
