{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "overrides": [
    {
      // enable the rule specifically for TypeScript files
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": [0],
        "complexity": ["error", 6], // if a function is getting too complex it should be broken down
        "curly": ["error", "all"], // use curly brace even for single line functions
        "comma-dangle": ["error", "always-multiline"], // easier to see git diff
        "prefer-template": ["error"] // easier to read code when variables are used
      }
    }
  ]
}
