*.log
.DS_Store
node_modules
dist
.idea
.vscode
*.pyc
*.tgz
coverage
.env
.nyc_output
cy-coverage
tsconfig.tsbuildinfo
docs
.cache
.nx
.dccache*
storybook-static
ConfigurationsTest/allure-report
ConfigurationsTest/playwright-report
build
test-results/
playwright-report/
slackMessage.json
package-lock.json
yarn.lock
slackMessage.txt
.DS_Store