* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h2 {
    color: #eff0fa;
    font-size: 34px;
    margin-top: revert;
  }
  
  header {
    padding: 10px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .btn-danger {
    padding: 8px;
    background-color: #c74e5b;
  }
  
  .hide {
    display: none !important;
  }
  
  form {
    max-width: 450px;
    margin: auto;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    display: block;
    width: 100%;
    border-radius: 8px;
    border: 2px solid transparent;
    height: 48px;
    box-sizing: border-box;
    padding: 12px 16px;
    background: #191b23;
    color: inherit;
    font-family: inherit;
  }
  
  input::placeholder {
    color: #aaa;
  }
  
  .input-container {
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    gap: 5px;
    width: 100%;
  }
  
  .btn {
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: 500;
    height: 48px;
    box-sizing: border-box;
    font-size: 15px;
    color: white;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #2572ed;
  }
  
  .conference-section {
    padding: 20px 30px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
  }
  
  #peers-container {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }
  
  .peer-video {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 1px solid #293042;
  }
  
  .local.peer-video {
    transform: scaleX(-1);
  }
  
  .peer-name {
    font-size: 14px;
    text-align: center;
  }
  
  .peer-tile {
    height: 250px;
    aspect-ratio: 16/9;
    border-radius: 8px;
    position: relative;
  }
  
  .peer-audio-muted {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
    padding: 8px;
    border-radius: 12px;
    background: #293042;
  }
  
  .peer-video-muted {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b0e15;
    z-index: 1;
  }
  
  .control-bar {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    justify-content: center;
    z-index: 10;
  }
  
  .control-bar > *:not(:first-child) {
    margin-left: 8px;
  }
  
  .btn-control {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #2e3038;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    text-align: center;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }
  
  .highlight {
    background-color: #2e3038 !important;
  }
  
  .separator {
    font-size: 12px;
  }
  
  .description {
    margin: 0.5rem 0 2rem 0;
    color: #c5c6d0;
  }
  
  .video-status {
    font-size: 48px !important;
  }
  
  #join-btn .material-symbols-outlined {
    font-size: 20px;
  }
  
  #join-btn {
    position: fixed;
    bottom: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .loading {
    display: flex;
    height: 100vh;
    width:100%;
    justify-content: center;
    align-items: center;
  }