#storybook-root {
  height: 100%;
}

@media (max-width: 768px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    position: fixed;
    top: 0;
    left: 0;
  }
}

