@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.tldraw__editor {
  position: fixed;
  inset: 0px;
  overflow: hidden;
}

.tlui-navigation-zone {
  display: none;
}

.tl-theme__light {
  --color-background: rgba(0, 0, 0, 0);
}
