name: Cypress Tests for chrome
on:
  workflow_dispatch:
  push:

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft != true
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            sdk:
              - 'packages/hms-video-web/**/*.(ts|js)'
            store:
              - 'packages/hms-video-store/**/*.(ts|js)'
            cypress:
              - 'cypress/**/*.(ts|js)'

      - name: Configure git for private repos
        run: git config --global url."https://${{ secrets.WHITEBOARD_PAT }}@github.com/".insteadOf "https://github.com/"

      - name: Cypress
        uses: cypress-io/github-action@v2
        if: steps.filter.outputs.sdk == 'true' || steps.filter.outputs.store == 'true' || steps.filter.outputs.cypress == 'true'
        with:
          browser: chrome
          build: yarn build --no-private
          headless: false
        env:
          CYPRESS_TOKEN_ENDPOINT: ${{ secrets.TOKEN_ENDPOINT }}
          CYPRESS_ROOM_ID: ${{ secrets.ROOM_ID }}
          CYPRESS_ROLE: ${{ secrets.ROLE }}
          CYPRESS_API_ENV: ${{ secrets.API_ENV }}
          CYPRESS_INIT_ENDPOINT: ${{ secrets.INIT_ENDPOINT }}
