name: Update API Reference
on:
  workflow_dispatch:
  workflow_call:
    secrets:
      DOCKER_GIT_TOKEN:
        required: true

jobs:
  generate_api_reference:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install packages
        run: bun install --frozen-lockfile --ignore-scripts

      - name: Build
        run: bun run build

      - name: Generate Store API Reference
        working-directory: ./packages/hms-video-store
        run: bun run docs

      - name: Generate React SDK API Reference
        working-directory: ./packages/react-sdk
        run: bun run docs

      - name: checkout 100ms-docs
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.DOCKER_GIT_TOKEN }}
          repository: 100mslive/100ms-docs
          path: 100ms-docs

      - name: copy over api reference
        run: |
          mkdir -p ./100ms-docs/docs/api-reference/javascript/react
          cp -R ./packages/hms-video-store/docs ./100ms-docs/docs/api-reference/javascript
          cp -R ./packages/react-sdk/docs ./100ms-docs/docs/api-reference/javascript/react

      - name: replace old api-reference
        working-directory: ./100ms-docs/docs/api-reference/javascript
        run: |
          rm -r v2
          mv docs v2
          mv react/docs v2/react-hooks

      - name: Create PR
        uses: peter-evans/create-pull-request@v7
        with:
          path: 100ms-docs
          token: ${{ secrets.DOCKER_GIT_TOKEN }}
          commit-message: 'docs(web): update api reference'
          title: 'docs(web): update api reference'
          labels: automated pr
          branch: web-api-reference
          base: main
          delete-branch: true
