name: Lint, Test and Build
on:
  push:
  merge_group:
    types: [checks_requested]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Configure git for private repos
        run: |
          git config --global url."https://${{ secrets.WHITEBOARD_PAT }}@github.com/".insteadOf "https://github.com/"
          git config --global url."https://${{ secrets.WHITEBOARD_PAT }}@github.com/".insteadOf "git@github.com:"
          git config --global url."https://${{ secrets.WHITEBOARD_PAT }}@github.com/".insteadOf "ssh://git@github.com/"

      - name: Install packages
        run: yarn install --frozen-lockfile

      - name: Test
        run: yarn test

      - name: Lint
        run: yarn lint

      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        if: github.ref == 'main' || github.ref == 'production'
        with:
          token: ${{ secrets.DOCKER_GIT_TOKEN }}
          event-type: automation
          repository: 100mslive/playwright-automation
