name: Lint, Test and Build
on:
  push:
  merge_group:
    types: [checks_requested]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install packages
        run: bun install --frozen-lockfile --ignore-scripts

      - name: Test
        run: bun run test

      - name: Lint
        run: bun run lint

      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        if: github.ref == 'main' || github.ref == 'production'
        with:
          token: ${{ secrets.DOCKER_GIT_TOKEN }}
          event-type: automation
          repository: 100mslive/playwright-automation
