name: PR checks
on:
  pull_request:
    branches:
      - main

jobs:
  changes:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft != true
    outputs:
      hms-video-web: ${{ steps.filter.outputs.hms-video-web }}
      hms-video-store: ${{ steps.filter.outputs.hms-video-store }}
    steps:
      - uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            hms-video-web:
              - 'packages/hms-video-web/src/**/!(*.test.ts)'
            hms-video-store:
              - 'packages/hms-video-store/src/!(test)**/!(*.test.ts)'
            react-sdk:
              - 'packages/react-sdk/src/**'
            react-ui:
              - 'packages/react-ui/src/**'
            react-icons:
              - 'packages/react-icons/src/**'

  # run this job only if the above job succeeds
  update-version:
    runs-on: ubuntu-latest
    needs: changes
    steps:
      - uses: actions/checkout@v2
        with:
          ref: main

      - name: Set versions
        uses: actions/github-script@v5
        id: main
        with:
          script: |
            const script = require('./scripts/setversions.js')
            script({ core, name: 'mainVersions' })

      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Set versions
        uses: actions/github-script@v5
        id: branch
        with:
          script: |
            const script = require('./scripts/setversions.js')
            script({ core, name: 'currentVersions' })

      - name: Set git user
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"

      - name: Update versions
        uses: actions/github-script@v5
        env:
          changes: ${{ toJSON(needs.changes.outputs) }}
          branch: ${{ github.head_ref }}
        with:
          script: |
            const script = require('./scripts/versioning.js')
            await script()

  size:
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.hms-video-web == 'true' || needs.changes.outputs.hms-video-store == 'true'
    steps:
      - uses: actions/checkout@v1
      - name: Check packages size
        uses: andresz1/size-limit-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          build_script: build:only
